
<div class="container">
  <br /><br /><br />
  <div class="row text-center about-images">
    <div class="col-md-3">
      <img class="img-responsive" src="./assets/images/about-1.jpg">
      <p class="AboutPMobile text-center text-block">
        Hi there! I'm Melissa.
      </p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive aboutCenterImg" src="./assets/images/about-2.jpg" style="margin: 0 auto">
      <p class="AboutPMobile text-center text-block">
        I have a passion for all things design and I love kids and babies. I don't have any of my own, but my nieces and nephews are my world. There's nothing better than their pudgy little hands with a crayon in them, except watching them learn the stories of where they come from - the stories that make up our family and who they are. That's why I do this. And that's why I love it.
      </p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="./assets/images/about-3.jpg">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 centered">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="divider text-block">
      </div>
      <div class="col-md-10 col-sm-offset-1 text-center text-block AboutPWeb">
        <p>Hi there! I'm Melissa. I have a passion for all things design and I love kids and babies. I don't have any of my own, but my nieces and nephews are my world. There's nothing better than their pudgy little hands with a crayon in them, except watching them learn the stories of where they come from - the stories that make up our family and who they are. That's why I do this. And that's why I love it.</p>
      </div>
    </div>
  </div>
</div>
